.result-wrap-icon {
  position: absolute;
  top: 10%;
  left: 4.86%;
  width: 50%;
  height: 90%;
  object-fit: cover;
  border-radius: 1.56% 1.56%;
}
.movie-discription,
.movie-name {
  border: 0;
  font-family: Inter;
  background-color: transparent;
  position: absolute;
  color: darkslateblue;
}
.movie-name {
  font-weight: 800;
  font-size: 300%; 
  top: 10%;
  left: 45%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31.25%;
  height: 9.26%;
}
.movie-discription {
  font-weight: 500;
  font-size: 200%; 
  top: 18%;
  left: 40%;
  text-align: left;
  display: inline-block;
  width: 31.25%;
  height: 18.52%;
}
.cast,
.genre,
.rating,
.release-date {
  cursor: pointer;
  position: absolute;
  top: 33.24%;
  left: 40%;
  display: inline-block;
  width: 32.6%;
  height: 3.89%;
  color: darkslateblue;
}
.genre,
.rating,
.release-date {
  top: 38.15%;
}
.rating,
.release-date {
  top: 43.06%;
}
.rating {
  top: 47.96%;
}
.platforms-available1 {
  margin: 0;
}
.platforms-available {
  cursor: pointer;
  position: absolute;
  top: 65%;
  left: 50%;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 17.29%;
  height: 9.07%;
  color: darkslateblue;
}
.result-page {
  position: fixed;
  background: linear-gradient(229deg, #fff, #252525);
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-9xl); 
  color: #252525;
  font-family: Inter;
}

.bk-btn {
  height: 30px;
  width: 30px;
  background-color: rgba(37, 37, 37, 0.7); 
  border-radius: 50%;
  margin-left: 95%;
  border: 1px solid #555; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
}

.bk-btn .bk-btn-triangle {
  position: relative;
  top: 7.5px;
  left: 6px;
  width: 0;
  height: 0;
  border-top: 7.5px solid transparent;
  border-bottom: 7.5px solid transparent;
  border-right: 7.5px solid white;
}

.bk-btn .bk-btn-bar {
  position: relative;
  background-color: white;
  height: 4.5px;
  width: 7.5px;
  top: -2.1px;
  left: 13.2px;
}


.disney-1-icon,
.hbo-max-1590590561-1-icon,
.netflix1-1-icon {
  position: relative;
  border-radius: 0.5%;
  width: 60%;
  height: 60%;
}
.disney-1-icon,
.hbo-max-1590590561-1-icon {
  width: 60%;
}
.hbo-max-1590590561-1-icon {
  width: 60%;
}