.login-account {
    position: absolute;
    top: 10%;
    left: 30%;
    font-size: 45px;
    font-weight: 800;
  }
  
  .information,
  .login-wrapper {
    position: absolute;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .login-wrapper {
    cursor: pointer;
    border: 0;
    padding: 10px;
    background-color: #b31312;
    position: absolute;
    top: 60%;
    left: 40.5%;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 178px;
    height: 47px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    font-style: Inter;
    font-size: larger;
    color: white;
  }
  .information {
    top: 0;
    left: 40%;
    border-radius:50px 0px 0px 50px;
    background-color: white;
    width: 60%;
    height: 100%;
    overflow: hidden;
  }
  .vector-icon{
    position: absolute;
    top: 58%;
    left: 10%;
    width: 60%;
    height: 75%;
  }
  .vector-icon1 {
    position:absolute;
    top: -150px;
    left: -210px;
    width: 597.26px;
    height: 577.14px;
  }
  .your-ultimate-destination {
    position: absolute;
    top: 45%;
    left: 101px;
    font-size: 45px;
    display: flex;
    align-items: center;
    width: 275px;
    height: 344px;
  }
  .screenhunt-1-icon {
    position: absolute;
    top: 55px;
    left: 0;
    width: 464px;
    height: 189px;
    object-fit: cover;
  }
  .desktop-1 {
    position: fixed;
    background-color: #ea906c;
    width: 99%;
    height:100%;
    margin-right:3px;
    overflow: hidden;
    text-align: left;
    font-size:large;
    color: darkslateblue;
    font-family:Inter;
  }

  body {
    margin: 0;
    line-height: normal;
    
  }
  
  // :root {
  //   /* fonts */
  //   --font-inter: Inter;
  
  //   /* font sizes */
  //   --font-size-xl: 20px;
  
  //   /* Colors */
  //   --color-darkslateblue: #2b2a4c;
  //   --color-white: #fff;
  
  //   /* border radiuses */
  //   --br-21xl: 40px;
  //   --br-3xs: 10px;
  // }
  
  //-------------------------------new-form---------------------------------//
  input {
    opacity: 0.3; 
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    box-shadow: none;
    color: #000; 
    border: 2px solid #b31312; 
    background-color: darkslateblue; 
    transition: 1s;
    font-size: 18px; 
    font-weight: 200px;
  }

  .emailinput{
    position: absolute;
    top: 30%;
    left: 20%;
    width: 500px;
  }
  
  .passwordinput{
    position: absolute;
    top: 40%;
    left: 20%;
    width: 500px;
  }