

.login-account {
    position: absolute;
    top: 28%;
    left: 305px;
    font-size: 45px;
    font-weight: 800;
  }
  .login-emailfield-child {
    border: 1px solid darkslateblue;
    background-color: white;
    position: absolute;
    height: 74.24%;
    width: 100%;
    top: 25.76%;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
  }
  .first-name {
    position: relative;
  }
  .first-name-wrapper {
    position: absolute;
    height: 36.36%;
    width: 9.41%;
    top: 0;
    bottom: 63.64%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .login-emailfield {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .login-email {
    position: absolute;
    top: 45%;
    left: 198px;
    width: 563px;
    height: 66px;
  }
  .first-name-container {
    position: absolute;
    height: 36.36%;
    width: 17.09%;
    top: 0;
    bottom: 63.64%; 
    background-color:white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .login-passfield {
    position: absolute;
    height: 100%;
    width: 112.38%;
    top: 0;
    right: -12.38%;
    bottom: 0;
    left: 0;
  }
  .login-pass {
    position: absolute;
    top: 60%;
    left: 198px;
    width: 505px;
    height: 66px;
  }
  .login {
    position: relative;
    font-size: 30px;
    font-weight: 800;
    font-family: Inter;
    color:white;
    text-align: center;
  }
  .information,
  .login-wrapper {
    position: absolute;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .login-wrapper {
    cursor: pointer;
    border: 0;
    padding: 10px;
    background-color: #b31312;
    top: 75%;
    left: 415px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .information {
    top: 0;
    left: 40%;
    border-radius:50px 0px 0px 50px;
    background-color: white;
    width: 60%;
    height: 100%;
    overflow: hidden;
  }
  .vector-icon{
    position: absolute;
    top: 58%;
    left: 10%;
    width: 60%;
    height: 75%;
  }
  .vector-icon1 {
    position:absolute;
    top: -150px;
    left: -210px;
    width: 597.26px;
    height: 577.14px;
  }
  .your-ultimate-destination {
    position: absolute;
    top: 45%;
    left: 101px;
    font-size: 45px;
    display: flex;
    align-items: center;
    width: 275px;
    height: 344px;
  }
  .screenhunt-1-icon {
    position: absolute;
    top: 55px;
    left: 0;
    width: 464px;
    height: 189px;
    object-fit: cover;
  }
  .desktop-1 {
    position: fixed;
    background-color: #ea906c;
    width: 99%;
    height:100%;
    margin-right:3px;
    overflow: hidden;
    text-align: left;
    font-size:large;
    color: darkslateblue;
    font-family:Inter;
  }

  body {
    margin: 0;
    line-height: normal;
    
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-xl: 20px;
  
    /* Colors */
    --color-darkslateblue: #2b2a4c;
    --color-white: #fff;
  
    /* border radiuses */
    --br-21xl: 40px;
    --br-3xs: 10px;
  }
  
  