
<div class="content" role="main">


  <div class="desktop-1">
    <div class="information">
      <div class="login-account">Login Account</div>
      <div class="login-email">
        <div class="login-emailfield">
          <div class="login-emailfield">
            <input
              class="login-emailfield-child"
              type="text"
              maxlength
              minlength
              id="email"
            />

            <div class="first-name-wrapper">
              <b class="first-name">Email</b>
            </div>
          </div>
        </div>
      </div>
      <div class="login-pass">
        <div class="login-emailfield">
          <div class="login-passfield">
            <div class="login-emailfield">
              <input
                class="login-emailfield-child"
                type="password"
                maxlength
                minlength
                id="pass"
              />

              <div class="first-name-container">
                <b class="first-name">Password</b>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="login-wrapper">
        <div class="login">Login</div>
      </button>
    </div>
    <img class="vector-icon" alt="" src="./../assets//images/vector.svg" />

    <img class="vector-icon1" alt="" src="./../assets/images/vector1.svg" />

    <b class="your-ultimate-destination"
      >Your Ultimate destination for movie magic!</b
    >
    <img
      class="screenhunt-1-icon"
      alt=""
      src="./../assets/images/screenhunt-1@2x.png"
    />
  </div>

</div>

<router-outlet></router-outlet>
