<div class="desktop-1">
    <div class="information">
      <div class="create-account">Create Account</div>
      <button class="create-account-wrapper">
        <div class="create-account1">Create Account</div>
      </button>
      <div class="component-1">
        <input
          class="component-1-child"
          type="text"
          maxlength
          minlength
          required
          id="fname"
        />

        <div class="first-name-wrapper">
          <b class="first-name">First Name </b>
        </div>
      </div>
      <div class="component-3">
        <div class="component-31">
          <input
            class="component-1-child"
            type="text"
            maxlength
            minlength
            required
            id="emailid"
          />

          <div class="first-name-container">
            <b class="first-name">Email</b>
          </div>
        </div>
      </div>
      <div class="component-4">
        <div class="component-41">
          <div class="component-31">
            <input
              class="component-1-child"
              type="password"
              maxlength
              minlength
              required
              id="pass"
            />

            <div class="first-name-frame">
              <b class="first-name">Password</b>
            </div>
          </div>
        </div>
      </div>
      <div class="component-2">
        <div class="component-21">
          <input
            class="component-1-child"
            type="text"
            maxlength
            minlength
            required
            id="lname"
          />

          <div class="frame-div">
            <b class="first-name">Last Name</b>
          </div>
        </div>
      </div>
      <b class="subscriptions">Subscriptions:</b>
      <b class="select-interest">Select Interest:</b>
    </div>
    <img class="vector-icon" alt="" src="./../../assets/images/vector.svg" />

    <img class="vector-icon1" alt="" src="./../../assets/images/vector1.svg" />

    <b class="your-ultimate-destination"
      >Your Ultimate destination for movie magic!</b
    >
    <img
      class="screenhunt-1-icon"
      alt=""
      src="./../../assets/images/screenhunt-1@2x.png"
    />