<form [formGroup]="signupForm" (ngSubmit)="signupSubmit()">

    <div class="desktop-1">
        <div class="information">
            <div class="create-account">Create Account</div>
            <button class="create-account-wrapper" type="submit">
                <div class="create-account1">Create Account</div>
            </button>
            <!-- errmsg show here -->
            <div class="error" *ngIf="errmsgshow">
                <p>{{ errmsg }}</p>
            </div>
            <input type="text" class="firstnameinput" formControlName="fname" placeholder="First Name">
            <input class="lastnameinput" type="text" formControlName="lname" placeholder="Last Name">
            <input class="emailinput" type="text" formControlName="emailid" placeholder="Email">
            <input class="passwordinput" type="password" formControlName="pass" placeholder="Password">
            <div class="interest-container">
                <b class="select-interest">Interest:</b>
                <select class="interest-dropdown" formControlName="interest">
                    <option value="" disabled selected>Select here</option>
                    <option value="Action">Action</option>
                    <option value="Comedy">Comedy</option>
                    <option value="Horror">Horror</option>
                    <option value="Romantic">Romantic</option>
                </select>
            </div>

        </div>
        <img class="vector-icon" alt="" src="./../../assets/images/vector.svg"/>
        <img class="vector-icon1" alt="" src="./../../assets/images/vector1.svg"/>
        <b class="your-ultimate-destination">Your Ultimate destination for movie magic!</b>
        <img class="screenhunt-1-icon" alt="" src="./../../assets/images/screenhunt-1@2x.png"/>
        <div class="subs-container">
            <b class="subscriptions">Subscriptions:</b>
            <div class="subscription-list" formArrayName="subscriptions">
                <div class="accordion">
                    <input id="toggle1" type="checkbox" class="accordion-toggle" name="toggle"/>
                    <label for="toggle1">
                        Select here
                        <div class="open">
                            <svg width="17" height="10" viewbox="0 0 17 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.43749 0.987258L8.18749 7.73726L14.9375 0.987257L16.0689 2.11863L8.18749 10L0.306121 2.11863L1.43749 0.987258Z" fill="white"/>
                            </svg>
                        </div>
                    </label>
                    <div class="items">
                        <div class="line"></div>
                        <label class="item">
                            Netflix
                            <input type="checkbox" formControlName="0"/>
                        </label>
                        <div class="line"></div>
                        <label class="item">
                            HBO
                            <input type="checkbox" formControlName="1"/>
                        </label>
                        <div class="line"></div>
                        <label class="item">
                            Amazon Prime
                            <input type="checkbox" formControlName="2"/>
                        </label>
                        <div class="line"></div>
                        <label class="item">
                            Hotstar
                            <input type="checkbox" formControlName="3"/>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
