.create-account {
    position: absolute;
    top: 55px;
    left: 280px;
    font-size: 45px;
    font-weight: 800;
  }
  .create-account1 {
    position: relative;
    font-size: large;
    font-weight: 800;
    font-family: Inter;
    color: white;
    text-align: left;
  }
  .create-account-wrapper {
    cursor: pointer;
    border: 0;
    padding: 10px;
    background-color: #b31312;
    position: absolute;
    top: 80%;
    left: 40.5%;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 178px;
    height: 47px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    font-style: Inter;
    font-size: larger;
    color: white;
  }
  
  .information,
  .select-interest {
    position: absolute;
  }
  .information {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    top: 0;
    left: 40%;
    border-radius:50px 0px 0px 50px;
    background-color: white;
    width: 60%;
    height: 100%;
    overflow: hidden;
  }
  .vector-icon {
    position: absolute;
    top: 58%;
    left: 10%;
    width: 60%;
    height: 75%;
  }
  .vector-icon1 {
    position:absolute;
    top: -150px;
    left: -210px;
    width: 597.26px;
    height: 577.14px;
  }
  .your-ultimate-destination {
    position: absolute;
    top: 45%;
    left: 101px;
    font-size: 45px;
    display: flex;
    align-items: center;
    width: 275px;
    height: 344px;
  }
  .screenhunt-1-icon {
    position: absolute;
    top: 55px;
    left: 0;
    width: 464px;
    height: 189px;
    object-fit: cover;
  }
  .desktop-1 {
    position: fixed;
    background-color: #ea906c;
    width: 99%;
    height: 100%;
    overflow: hidden;
    text-align: left;
    font-size: large;
    color: darkslateblue;
    font-family: Inter;
  }
 
  .error{
    position: absolute;
    top: 16.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    color: #b31312;
  }
  //----------------subscription dropdown--------------//

  * {
    margin: 0;
    padding: 0;
  }
  
  .subscription-list {
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    display: absolute;
    justify-content: center;
    padding-top: 30px;
  }
  
  
  .accordion {
    position: relative;
    top: 53%;
    padding: 10px;
    width: 200px; 
    border-radius: 10px;
    border: 2px solid #b31312;
    background-color: white;
    color: darkslateblue;
    font-size: 18px; 
    font-weight: 200px;
    opacity: 1;
    transition: 1s;
  }
  
  .accordion>.accordion-toggle {
    position: absolute;
    opacity: 0;
    display: none;
    transition: 1s all;
  }
  
  .accordion>label {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: space-between;
    height: 35px; 
    padding: 0 20px;
    font-size: 18px; 
    color: darkslateblue;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
  }
  
  .items {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 0;
    opacity: 0;
    color: darkslateblue;
    transition: 0.2s all;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    align-items: center;
    height: 60px;
    cursor: pointer;
    transition: 0.3s all;
    font-size: 18px; 
    color: darkslateblue;
  }
  
  .line {
    content: "";
    width: 100%;
    height: 1px;
    background-color: darkslateblue;
  }
  
  .accordion-toggle:checked~.items {
    position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: auto;
  padding: 4px;
  font-size: 18px; 
  color: #696969;
  font-weight: 600;
  overflow: hidden;
  color: darkslateblue;
  opacity: 1;
  transition: 0.2s all;
  }
  
  .open {
    transform: rotate(0deg);
    transition: 0.2s all;
  }
  
  .accordion>.accordion-toggle:checked~label .open {
    transform: rotate(90deg);
    transition: 0.2s all;
  }
  
  .accordion>.accordion-toggle:checked~label {
    color: darkslateblue;
  }
  
  .accordion-button {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 4px;
    justify-content: center;
    width: 100%;
    height: 60px;
    color: darkslateblue;
    background-color: #2965FF;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s all;
  }
  
  .accordion-button:hover {
    background-color: #1c50d1;
    transition: 0.3s all;
  }
  
  .accordion-button:active {
    transform: scale(0.980);
  }
  
  
  .powered {
  /*   display: none; */
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
    cursor: pointer;
  }
  
  a {
    color: darkslateblue;
    text-decoration: none;
    font-size: 20px;
  }
  
  .open svg path {
      fill: darkslateblue;
  }
  
.subs-container{
  display: flex;
  gap: 10px;
  align-items: center; 
  position: absolute; 
  top: 55%;
  left:43%;
}

.subs-container>.subscriptions {
  margin-right: 20px;
}

//--------------------------interest - drop down---------------------//
.interest-dropdown {
  position: relative;
  top: 53%;
  left: 55%;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid #b31312;
  background-color: white;
  color: darkslateblue;
  font-size: 18px;
  font-weight: 200px;
  opacity: 1;
  transition: 1s;
}

.interest-dropdown:focus, .interest-dropdown:hover {
  transition: 1s;
  border: 2px solid #b31312;
  background-color: transparent;
}

.interest-container {
  position: absolute;
  top: 62%;
  left: 55%;
  display: flex;
  align-items: center;
  gap: 10px;
}


//-------------form------------//
input {
  opacity: 1; 
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  box-shadow: none;
  color: darkslateblue; 
  border: 2px solid #b31312; 
  background-color: white; 
  transition: 1s;
  font-size: 18px; 
  font-weight: 200px;
}

input:focus, input:hover {
	transition: 1s;
	border: 2px solid #b31312;
	background-color: transparent;
}

.lastnameinput {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 500px;
}

.firstnameinput{
  position: absolute;
  top: 20%;
  left: 20%;
  width: 500px;
}
.emailinput{
  position: absolute;
  top: 40%;
  left: 20%;
  width: 500px;
}

.passwordinput{
  position: absolute;
  top: 50%;
  left: 20%;
  width: 500px;
}






