.create-account {
    position: absolute;
    top: 55px;
    left: 305px;
    font-size: 45px;
    font-weight: 800;
  }
  .create-account1 {
    position: relative;
    font-size: large;
    font-weight: 800;
    font-family: Inter;
    color: white;
    text-align: left;
  }
  .create-account-wrapper {
    cursor: pointer;
    border: 0;
    padding: 10px;
    background-color: #b31312;
    position: absolute;
    top: 85%;
    left: 393px;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    width: 178px;
    height: 47px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .component-1-child {
    border: 1px solid darkslateblue;
    background-color: white;
    position: absolute;
    height: 74.24%;
    width: 100%;
    top: 25.76%;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-3xs);
    box-sizing: border-box;
    overflow: hidden;
  }
  .first-name {
    position: relative;
  }
  .first-name-wrapper {
    position: absolute;
    height: 36.36%;
    width: 18.83%;
    top: 0;
    right: 70.87%;
    bottom: 63.64%;
    left: 10.3%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .component-1 {
    position: absolute;
    top: 25%;
    left: 198px;
    width: 563px;
    height: 66px;
  }
  .first-name-container {
    position: absolute;
    height: 36.36%;
    width: 9.41%;
    top: 0;
    right: 75.57%;
    bottom: 63.64%;
    left: 15.01%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .component-31 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .component-3 {
    position: absolute;
    top: 47%;
    left: 198px;
    width: 563px;
    height: 66px;
  }
  .first-name-frame {
    position: absolute;
    height: 36.36%;
    width: 17.09%;
    top: 0;
    right: 71.74%;
    bottom: 63.64%;
    left: 11.17%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .component-41 {
    position: absolute;
    height: 100%;
    width: 112.38%;
    top: 0;
    right: -12.38%;
    bottom: 0;
    left: 0;
  }
  .component-4,
  .frame-div {
    position: absolute;
    top: 58%;
    left: 198px;
    width: 505px;
    height: 66px;
  }
  .frame-div {
    height: 36.36%;
    width: 18.47%;
    top: 0;
    right: 71.05%;
    bottom: 63.64%;
    left: 10.48%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .component-21 {
    position: absolute;
    height: 100%;
    width: 158.59%;
    top: 0;
    right: -58.59%;
    bottom: 0;
    left: 0;
  }
  .component-2 {
    position: absolute;
    top: 36%;
    left: 198px;
    width: 355px;
    height: 66px;
  }

  .information,
  .select-interest {
    position: absolute;
  }
  .information {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    top: 0;
    left: 40%;
    border-radius:50px 0px 0px 50px;
    background-color: white;
    width: 60%;
    height: 100%;
    overflow: hidden;
  }
  .vector-icon {
    position: absolute;
    top: 58%;
    left: 10%;
    width: 60%;
    height: 75%;
  }
  .vector-icon1 {
    position:absolute;
    top: -150px;
    left: -210px;
    width: 597.26px;
    height: 577.14px;
  }
  .your-ultimate-destination {
    position: absolute;
    top: 45%;
    left: 101px;
    font-size: 45px;
    display: flex;
    align-items: center;
    width: 275px;
    height: 344px;
  }
  .screenhunt-1-icon {
    position: absolute;
    top: 55px;
    left: 0;
    width: 464px;
    height: 189px;
    object-fit: cover;
  }
  .desktop-1 {
    position: fixed;
    background-color: #ea906c;
    width: 99%;
    height: 100%;
    overflow: hidden;
    text-align: left;
    font-size: large;
    color: darkslateblue;
    font-family: Inter;
  }
 
  //----------------subscription dropdown--------------//

  * {
    margin: 0;
    padding: 0;
  }
  
  .subscription-list {
    width: 100%;
    font-weight: 600;
    font-size: 15px;
    display: absolute;
    justify-content: center;
    padding-top: 30px;
  }
  
  
  .accordion {
    margin: 20px;
    max-width: 328px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.33);
    transition: 1s all;
    overflow: hidden;
    border-color: #252525;
  }
  
  .accordion>.accordion-toggle {
    position: absolute;
    opacity: 0;
    display: none;
    transition: 1s all;
  }
  
  .accordion>label {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: space-between;
    height: 35px;
    padding: 0 20px;
    font-size: 15px;
    color: darkslateblue;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
  }
  
  .items {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 0;
    opacity: 0;
    color: darkslateblue;
    transition: 0.2s all;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    align-items: center;
    height: 60px;
    cursor: pointer;
    transition: 0.3s all;
  }
  
  .line {
    content: "";
    width: 100%;
    height: 1px;
    background-color: darkslateblue;
  }
  
  .accordion-toggle:checked~.items {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: auto;
    padding: 4px;
    font-size: 15px;
    color: #696969;
    font-weight: 600;
    overflow: hidden;
    color: darkslateblue;
    opacity: 1;
    transition: 0.2s all;
  }
  
  .open {
    transform: rotate(0deg);
    transition: 0.2s all;
  }
  
  .accordion>.accordion-toggle:checked~label .open {
    transform: rotate(90deg);
    transition: 0.2s all;
  }
  
  .accordion>.accordion-toggle:checked~label {
    color: darkslateblue;
  }
  
  .accordion-button {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-top: 4px;
    justify-content: center;
    width: 100%;
    height: 60px;
    color: darkslateblue;
    background-color: #2965FF;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s all;
  }
  
  .accordion-button:hover {
    background-color: #1c50d1;
    transition: 0.3s all;
  }
  
  .accordion-button:active {
    transform: scale(0.980);
  }
  
  
  .powered {
  /*   display: none; */
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
    cursor: pointer;
  }
  
  a {
    color: darkslateblue;
    text-decoration: none;
    font-size: 20px;
  }
  
  .open svg path {
      fill: darkslateblue;
  }
  
.subs-container{
  display: flex;
  gap: 10px;
  align-items: center; 
  position: absolute; 
  top: 64%;
  left:43%;
}

.subs-container>.subscriptions {
  margin-right: 20px;
}

//--------------------------interest - drop down---------------------//
* {
  margin: 0;
  padding: 0;
}

.sub-list {
  width: 100%;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.drop-down {
  margin: 20px;
  max-width: 328px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.33);
  transition: 1s all;
  overflow: hidden;
  border-color: #252525;
}

.drop-down>.drop-down-toggle {
  position: absolute;
  opacity: 0;
  display: none;
  transition: 1s all;
}

.drop-down-label {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: space-between;
  height: 35px;
  padding: 0 20px;
  font-size: 15px;
  color: darkslateblue;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
}

.options {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 0;
  opacity: 0;
  color: darkslateblue;
  transition: 0.2s all;
}

.option {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 0 15px;
  align-items: center;
  height: 60px;
  cursor: pointer;
  transition: 0.3s all;
}

.divider {
  content: "";
  width: 100%;
  height: 1px;
  background-color: darkslateblue;
}

.drop-down-toggle:checked~.options {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: auto;
  padding: 4px;
  font-size: 15px;
  color: #696969;
  font-weight: 600;
  overflow: hidden;
  color: darkslateblue;
  opacity: 1;
  transition: 0.2s all;
}

.arrow {
  transform: rotate(0deg);
  transition: 0.2s all;
}

.drop-down>.drop-down-toggle:checked~.drop-down-label .arrow {
  transform: rotate(90deg);
  transition: 0.2s all;
}

.drop-down>.drop-down-toggle:checked~.drop-down-label {
  color: darkslateblue;
}

.arrow svg path {
    fill: darkslateblue;
}


.interest-container {
  position: absolute;
  top: 61%;
  left: 55%;
  display: flex;
  align-items: center;
  gap: 10px;
}
