.disney-1-icon,
.hbo-max-1590590561-1-icon,
.netflix1-1-icon {
  position: relative;
  border-radius: 0.5%;
  width: 6.08%;
  height: 6.3%;
}
.disney-1-icon,
.hbo-max-1590590561-1-icon {
  width: 5.9%;
}
.hbo-max-1590590561-1-icon {
  width: 6.3%;
}
.frame-icons {
  position: fixed;
  top: 84%;
  left: 43%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.1%;
  color: #252525
}
.footer {
  position: fixed;
  top: 89%;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 25.6%; 
}
.div-1-icon {
  position: fixed;
  top: 25.5%;
  left: 8%; 
  width: 40%;
}

.bg_img,
.screenhunt-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.bg_img {
  opacity: 0.1;
  width: 100%;
  height: 100%;
}
.screenhunt-1-icon { 
  height: 8%;
  width: 13%; 
}

.showing-content-from {
  position: fixed;
  font-size: small;
}
.showing-content-from {
  top: 80%;
  left: 43%; 
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%; 
  height: 2.8%; 
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #252525;
}
.others {
  top: 85.5%;
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: #252525;
}
.openai-inc-all {
  margin: 0;
}
.openai-inc-all-container1 {
  line-break: anywhere;
  width: 100%;
}
.openai-inc-all-container {
  position: fixed;
  top: 96%;
  left: 1%; 
  letter-spacing: 0.02em;
  display: flex;
  color: gray;
  text-align: left;
  align-items: flex-end;
}
.your-ultimate-destination {
  position: fixed;
  top: 25%;
  left: 55%; 
  font-size: 300%;
  display: flex;
  color: firebrick;
  align-items: center;
  justify-content: center;
}
.landing-page-child {
  position: absolute;
  top: 18%;
  left: 50%;
  filter: blur(4px);
  border-right: 4px solid #ea906c;
  box-sizing: border-box;
  width: 3px;
  height: 55%;
}
.button {
  position: relative;
  font-size: 80%;
  font-weight: 500;
  font-family: Inter;
  color: #eee2de;
  text-align: center;
  width: 60px;
}
.button-wrapper,
.frame-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-wrapper {
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  background-color: darksalmon;
  border-radius: 40px;
}
.frame-button {
  position: fixed;
  top: 65%;
  left: 65.5%; 
  gap: 4%; 
}
.about-us,
.identify-the-platform {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.identify-the-platform {
  top: 43%;
  left: 60%; 
  font-size: 100%;
  font-weight: 300;
  color: firebrick;
}
.about-us {
  top: 0.8%; 
  left: 93%; 
  font-weight: 200;
  color: gray;
  width: 8.5%; 
  height: 2.7%; 
}
.send-feedback {
  position: absolute;
  top: 95%; 
  left: 83%; 
  display: inline-block;
  color: gray;
  text-align: right;
  width: 15.4%; 
  height: 3.2%; 
}
.landing-page {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  font-size: small;
  color: gray;
  font-family: Inter;
}
