<div class="landing-page">
    <div class="frame-icons">
      <img class="netflix1-1-icon" alt="" src="./../../assets/images/landing-page/netflix1-1@2x.png" />

      <img class="disney-1-icon" alt="" src="./../../assets/images/landing-page/disney-1@2x.png" />

      <img
        class="hbo-max-1590590561-1-icon"
        alt=""
        src="./../../assets/images/landing-page/hbomax1590590561-1@2x.png"
      />

      <img
        class="hbo-max-1590590561-1-icon"
        alt=""
        src="./../../assets/images/landing-page/prime-1@2x.png"
      />
      <b class="others">+ others</b>
    </div>
    <div class="footer"></div>
    <img class="div-1-icon" alt="" src="./../../assets/images/landing-page/div-1@2x.png" />

    
    <img
      class="bg_img"
      alt=""
      src="./../../assets/images/landing-page/FvYiWnYWwAEIiMf.jpg"
    />

    <div>
      <img
      class="screenhunt-1-icon"
      alt=""
      src="./../../assets/images/landing-page/screenhunt-1@2x.png"
    />
    </div>

    <b class="showing-content-from">Showing content from:</b>
    <b class="openai-inc-all-container">
      <span class="openai-inc-all-container1">
        <p class="openai-inc-all">
          © 2023 All rights reserved. | Privacy Policy | Terms of
          Use
        </p>
      </span>
    </b>
    <b class="your-ultimate-destination"
      >Your Ultimate destination for<br>movie magic!</b
    >
    <div class="landing-page-child"></div>
    <div class="frame-button">
      <button class="button-wrapper">
        <div class="button">Sign Up</div>
      </button>
      <button class="button-wrapper">
        <div class="button">Sign In</div>
      </button>
    </div>
    <div class="identify-the-platform">
      Identify the platform where you can watch new and popular<br>movies according to 
      your subscriptions.
    </div>
    <div class="about-us">About Us</div>
    <b class="send-feedback">Send Feedback</b>
  </div>