.disney-1-icon,
.hbo-max-1590590561-1-icon,
.netflix1-1-icon {
  position: relative;
  border-radius: 5px;
  width: 60.8.8px;
  height: 63px;
}
.disney-1-icon,
.hbo-max-1590590561-1-icon {
  width: 59px;
}
.hbo-max-1590590561-1-icon {
  width: 63px;
}
.frame-icons {
  position: fixed;
  top: 90%;
  left: 590px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 31px; 
}
.footer {
  position: fixed;
  top: 89%;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 256px;
}
.div-1-icon {
  position: fixed;
  top: 40%;
  left: 35px;
  width: 48%;
}
.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 80px;
}

.bg_img,
.screenhunt-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.bg_img{
  opacity: 0.1;
}
.screenhunt-1-icon {
  width: 287px;
  height: 70px;
}
.others,
.showing-content-from {
  position: fixed;
  font-size:large;
}
.showing-content-from {
  top: 90%;
  left: 642px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 223px;
  height: 38px;
}
.others {
  top: 90%;
  left: 930px;
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.openai-inc-all {
  margin: 0;
}
.openai-inc-all-container1 {
  line-break: anywhere;
  width: 100%;
}
.openai-inc-all-container {
  position: fixed;
  top: 95%px;
  left: 10px;
  letter-spacing: 0.02em;
  display: flex;
  color: gray;
  text-align: left;
  align-items: flex-end;
}
.your-ultimate-destination {
  position: fixed;
  top: 25%;
  left: 809px;
  font-size: 40px;
  display: flex;
  color: firebrick;
  align-items: center;
  justify-content: center;
}
.landing-page-child {
  position: absolute;
  top: 181px;
  left: 741px;
  filter: blur(4px);
  border-right: 4px solid darksalmon;
  box-sizing: border-box;
  width: 4px;
  height: 533px;
}
.button {
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 800;
  font-family: var(--font-lato);
  color: var(--color-linen);
  text-align: center;
}
.button-wrapper,
.frame-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl);
  background-color: darksalmon;
  border-radius: var(--br-21xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.frame-button {
  position: fixed;
  top: 75%;
  left: 941px;
  gap: 29px;
}
.about-us,
.identify-the-platform {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.identify-the-platform {
  top: 45%;
  left: 777px;
  font-size: 25px;
  font-weight: 300;
  color: firebrick;
}
.about-us {
  top: 8px;
  left: calc(50% + 660px);
  font-weight: 600;
  color: rgba(43, 42, 76, 0.7);
  width: 85px;
  height: 27px;
}
.send-feedback {
  position: absolute;
  top: 992px;
  left: calc(50% + 600px);
  display: inline-block;
  color: gray;
  text-align: right;
  width: 154px;
  height: 32px;
}
.landing-page {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 99%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  font-size:small;
  color: gray;
  font-family:Inter;
}

