
<div class="home-page">
    <div>
    <img class="home-page-child" alt="" src="./public/rectangle-1@2x.png" />

    <img
      class="screenhunt-1-icon"
      alt=""
      src="./public/screenhunt-1@2x.png"
    />

    <nav class="navbar-link" id="navbar">
      <div class="home">
        <span>Home</span>
        <span class="span"> </span>
      </div>
      <div class="home">Category</div>
      <div class="home">Subscriptions</div>
      <img
        class="iconlyboldprofile"
        alt=""
        src="./public/iconlyboldprofile.svg"
      />
    </nav>
  </div>

  <div>
    <form action="" class="search">
    <input class="search-item" type="text" placeholder="Search movie here" id="searchbar"/>
    <button class="search-btn">
        <img class="searchicon" alt="Search" src="./public/iconlylightoutlinesearch.svg"/>
    </button>
  </form>
  </div>

  <div class="recommendation-section">
    <h1 class="recommended-for-you" id="recommend">Recommended for you</h1>
    <div class="wrapper">
      <i id="left" class="fa-solid fa-angle-left"></i>
      <ul class="carousel">
        <li class="card">
          <div class="img"><img src="images/img-1.jpg" alt="img" draggable="false"></div>
        </li>
        <li class="card">
          <div class="img"><img src="images/img-2.jpg" alt="img" draggable="false"></div>
        </li>
        <li class="card">
          <div class="img"><img src="images/img-3.jpg" alt="img" draggable="false"></div>
        </li>
        <li class="card">
          <div class="img"><img src="images/img-4.jpg" alt="img" draggable="false"></div>
        </li>
        <li class="card">
          <div class="img"><img src="images/img-5.jpg" alt="img" draggable="false"></div>
        </li>
        <li class="card">
          <div class="img"><img src="images/img-6.jpg" alt="img" draggable="false"></div>
        </li>
      </ul>
      <i id="right" class="fa-solid fa-angle-right"></i>
    </div>
  </div>


    <h1 class="trending-movies" id="trending">Trending movies</h1>
  </div>