.home-page-child,
.screenhunt-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.home-page-child {
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
.screenhunt-1-icon {
  width: 246px;
  height: 70px;
}
.span {
  color: #000;
}
.home {
  position: relative;
  font-weight: 600;
}
.iconlyboldprofile {
  position: relative;
  width: 38px;
  height: 41px;
}
.navbar-link {
  margin: 0;
  position: absolute;
  top: 10px;
  left: 1020px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 48px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: darkslateblue;
  font-family: Inter;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 1440px;
  height: 61px;
}
.search-item {
  border: 1px solid darkslateblue;
  background-color: rgba(43, 42, 76, 0.58);
  position: absolute;
  top: 171px;
  left: 478px;
  border-radius: 25px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 483px;
  height: 50px;
  padding-right: 40px; 
  font-size: 20px;
  color: #cac7ff;
}

.search-btn {
  position: absolute;
  top: 171px;
  left: 910px;  /* 478px (search bar left position) + 483px (search bar width) - 40px (button width) = 921px */
  width: 40px;
  height: 50px;
  background: none;
  border: none;
  cursor: pointer;
}

.searchicon {
  width: 30px;
  height: 30px;
  opacity: 0.5;
  margin: auto; /* Center the icon inside the button */
  display: block;
  color: #cac7ff;
}
::placeholder{
  color: #cac7ff;
}


.home-page {
  position: relative;
  background-color: white;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size:xx-large;
  color: firebrick;
  font-family: Inter;
}



//---------------------------------------------------slider------------------------//

h1 {
  font-family: Arial;
  color: red;
  text-align: center;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
}
.wrapper section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 20px 0;
}
.wrapper section .item {
  padding: 0 2px;
  transition: 250ms all;
}
.wrapper section .item:hover {
  margin: 0 40px;
  transform: scale(1.2);
}
.wrapper section a {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: black;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}
.wrapper section a:nth-of-type(1) {
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}
.wrapper section a:nth-of-type(2) {
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.arrow__btn{
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  arrow__btn {
    display: none;
  }
}

