.home {
  position: relative;
  width: 100%;
  height: 100%;
}

.home-page-child {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
.screenhunt-1-icon {
  position: absolute;
  height: 8%;
  width: 13%;
  left: 0;

}
.span {
  color: darkslateblue;
}

.iconlyboldprofile {
  position: relative;
  width: 8%;
  height: 6%;
}
.navbar-link {
  margin: 0;
  position: absolute;
  top: 3%;
  left: 82%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
  text-align: center;
  font-size: 50%;
  font-weight: 100;
  color: darkslateblue;
  font-family: Inter;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 8%;
}
.search-item {
  border: 1px solid darkslateblue;
  background-color: rgba(43, 42, 76, 0.58);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 40px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 33%;
  height: 5%;
  padding-right: 1%; 
  padding-left: 1%;
  font-size: 40%;
  color: #cac7ff;
}

.search-btn {
  position: absolute;
  top: 16.8%;
  left: 61%;  
  width: 7%;
  height: 6.2%;
  background: none;
  border: none;
  cursor: pointer;
}

.searchicon {
  width: 30px;
  height: 30px;
  opacity: 0.5;
  margin: auto; 
  display: block;
  color: #cac7ff;
}
::placeholder{
  color: #cac7ff;
}


.home-page {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: left;
  font-size:xx-large;
  color: firebrick;
  font-family: Inter;
}

//---------------------------------------------------slider 3------------------------//
h1 {
  font-family: Inter;
}
.recommended-movies {
  position: absolute; 
  top: 26%;
  left: 8.5%; 
  transform: translateX(-50%); 
  font-family: Inter;
  color: firebrick;
  text-align: center;
  font-size: 60%;
}

.recommendation-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
  position: absolute;
  top: 32%; 
  width: 100%; 
}
.recommendation-wrapper section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 20px 0;
}
.recommendation-wrapper section .item {
  padding: 0 2px;
  transition: 250ms all;
  height: 200px !important;
  width: 355px  !important;
  display: flex;
  cursor: pointer;
}
.recommendation-wrapper section .item:hover {
  margin: 0 40px;
  transform: scale(1.2);
  cursor: pointer;
}
.recommendation-wrapper section a {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: black;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}
.recommendation-wrapper section a:nth-of-type(1) {
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}
.recommendation-wrapper section a:nth-of-type(2) {
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.arrow__btn{
  cursor: pointer;
}

//---------------------------------------------------slider 2------------------------//

h1 {
  font-family: Inter;
  color: firebrick;
}
.trending-movies {
  position: absolute; 
  top: 63%;
  left: 6.5%; 
  transform: translateX(-50%); 
  font-family: Inter;
  color: firebrick;
  text-align: center;
  font-size: 60%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100%);
  overflow: hidden;
  scroll-behavior: smooth;
  position: absolute;
  top: 68%; 
  width: 100%; 
}
.wrapper section {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin: 20px 0;
}
.wrapper section .item {
  padding: 0 2px;
  transition: 250ms all;
  height: 200px !important;
  width: 355px  !important;
  display: flex;
  cursor: pointer;
}
.wrapper section .item:hover {
  margin: 0 40px;
  transform: scale(1.2);
  cursor: pointer;
}
.wrapper section a {
  position: absolute;
  color: #fff;
  text-decoration: none;
  font-size: 6em;
  background: black;
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}
.wrapper section a:nth-of-type(1) {
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}
.wrapper section a:nth-of-type(2) {
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.arrow__btn{
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  arrow__btn {
    display: none;
  }
}

